<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'ico-SAI.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap@4.1.0.min.css') }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <title>MedTrack</title>
    </head>

    <body>
        <header>
            <div class="jumbotron">
                <h1 class="display-4">MedTrack</h1>
                <p class="lead">Salida de Inventario</p>
                <hr class="my-4">
                <form id="emit">
                    <div class="row">
                        <div class="col-6">
                            <label class="control-label">Medicamento</label>
                            <select class="form-control" name="s" required>
                                <option value="" >-- seleccionar --</option>
                            </select>
                        </div>
        
                        <div class="col">
                            <label class="control-label">Cantidad</label>
                            <input class="form-control" type="number" name="q" placeholder="Cantidad" required />
                        </div>
        
                        <div class="col">
                            <label class="control-label">&nbsp;</label>
                            <div class="xx-btn-group">
                                <input class="btn btn-success" type="submit" value="Enviar"  />
                                <input class="btn btn-default" type="reset"  value="Limpiar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </header>

        <div class="container-fluid">
            <div id="queue">
                <label class="form-control-plaintext">Movimientos en espera de conexión</label>
                <ul class="list-group"></ul>
            </div>

            <footer>
                <p class="text-right">
                    <span class="navbar-text">Async: <b>{{ async_mode }}</b> - latencia: <b><span id="ping-pong"></span>ms</b></span>
                </p>
            </footer>
        </div>

        <script src="{{ url_for('static', filename = 'jquery@3.3.1.min.js'    ) }}"></script>
        <script src="{{ url_for('static', filename = 'socket.io@2.1.1.slim.js') }}"></script>
        <script src="{{ url_for('static', filename = 'index.js'               ) }}"></script>
    </body>
</html>
